  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Cambiar avatar</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="box-profile-img d-flex justify-content-center">
          <img *ngIf="!previewImage" [src]="_modalImgService.img | imagen: _modalImgService.type" alt="" class="img-fluid rounded-circle mb-3 profile-img-form">
          <img *ngIf="previewImage" [src]="previewImage" alt="" class="img-fluid rounded-circle mb-3 profile-img-form">
          <div class="box-change-profile-img rounded-circle c-pointer">
            <i class="mdi mdi-camera text-white"></i>
          </div>
        </div>
        <p class="card-description">
            You can update your profile picture
          </p>
          <form class="forms-sample">
            <div class="form-group">
              <input type="file" name="img[]" class="file-upload-default" (change)="selectImage($event.target.files[0])">
              <div class="input-group col-xs-12 file-upload-browse">
                <input type="text" class="form-control file-upload-info  c-pointer" disabled="" placeholder="Upload Image">
                <span class="input-group-append">
                  <button class=" btn btn-info" type="button" >Select</button>
                </span>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-success" (click)=changeImage()>Save changes</button>
      </div>
    </div>
  </div>