<h4 class="card-title">Búsqueda realizada</h4>
<div class="row mt-2">
  <div class="col-12" *ngIf="!(usuarios.length == 0)" [ngClass]="{'col-md-6':(medicos.length == 0 && hospitales.length != 0) || (medicos.length != 0 && hospitales.length == 0), 'col-md-4': medicos.length != 0 && hospitales.length != 0}">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">Usuarios</h4>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let usuario of usuarios" class="c-pointer">
              <td><img src="{{ usuario.img | imagen: 'usuarios' }}" class="img-fluid rounded-circle cover-img"></td>
              <td>{{usuario.name}}</td>
              <td>
                <button [routerLink]="['/usuarios']" class="btn btn-success mr-2">
                  <i class="fa fa-pencil mr-0"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-12" *ngIf="!(medicos.length == 0)" [ngClass]="{'col-md-6': (hospitales.length == 0 && usuarios.length != 0) || (hospitales.length != 0 && usuarios.length == 0), 'col-md-4': usuarios.length != 0 && hospitales.length != 0}">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">Médicos</h4>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let medico of medicos" class="c-pointer">
              <td><img src="{{ medico.img | imagen: 'medicos' }}" class="img-fluid rounded-circle cover-img"></td>
              <td>{{medico.name}}</td>
              <td>
                <button [routerLink]="['/medico', medico._id]" class="btn btn-success mr-2">
                  <i class="fa fa-pencil mr-0"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-12" *ngIf="!(hospitales.length == 0)" [ngClass]="{'col-md-6': (medicos.length == 0 && usuarios.length != 0) || (medicos.length != 0 && usuarios.length == 0), 'col-md-4': medicos.length != 0 && usuarios.length != 0}">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">Hospitales</h4>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let hospital of hospitales" class="c-pointer">
              <td><img src="{{ hospital.img | imagen: 'hospitales' }}" class="img-fluid rounded-circle cover-img"></td>
              <td>{{hospital.name}}</td>
              <td>
                <button [routerLink]="['/hospitales']" class="btn btn-success mr-2">
                  <i class="fa fa-pencil mr-0"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4" *ngIf="usuarios.length == 0 && medicos.length == 0 && hospitales.length == 0">
    <div class="alert alert-info">
      No hay registros
    </div>
  </div>
</div>