/* You can add global styles to this file, and also import other style files */
.c-pointer{
  cursor: pointer;
}

.cover-img{
  object-fit: cover;
}

.box-profile-img{
  position: relative;
}

.profile-img-form{
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}


.box-change-profile-img{
  position: absolute;
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
}
.box-change-profile-img:hover{
  opacity: 1;
}

.box-change-profile-img{
  font-size: 1.5rem; 
}